In [5]:

company_detail_list = [
    {
        'name': 'Company 1',
        'domain': 'Retail',
        'country': 'United States'
    },
    {
        'name': 'Company 2',
        'domain': 'Technology',
        'country': 'United Kingdom'
    },
    {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'country': 'United States'
    }
]

In [6]:
sorted_company_list = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)

# Menampilkan hasil
for company in sorted_company_list:
    print(company['name'])

Company 3
Company 2
Company 1

In [7]:
for company in company_detail_list:
    print(f"Company Name: {company['name']}, Domain: {company['domain']}")

Company Name: Company 1, Domain: Retail
Company Name: Company 2, Domain: Technology
Company Name: Company 3, Domain: Healthcare

In [8]:
def get_employees_with_company_country(employee_list, company_list):
    # Membuat peta perusahaan ke negara
    company_to_country = {company['name']: company['country'] for company in company_list}
    
    # Membuat daftar hasil
    employee_with_country = []
    
    # Mengisi daftar dengan karyawan dan negara perusahaan mereka
    for employee in employee_list:
        country = company_to_country.get(employee['company'])
        employee_with_country.append({
            'full_name': employee['full_name'],
            'company': employee['company'],
            'country': country
        })
    
    return employee_with_country

In [9]:
def get_company_citizenship_count(employee_list, company_list):
    # Membuat peta perusahaan ke karyawan
    company_to_employees = {company['name']: [] for company in company_list}
    
    # Mengisi peta dengan karyawan
    for employee in employee_list:
        company_to_employees[employee['company']].append(employee['nationality'])
    
    # Menghitung kewarganegaraan unik per perusahaan
    company_citizenship_count = {}
    for company, nationalities in company_to_employees.items():
        unique_nationalities = set(nationalities)  # Mengambil kewarganegaraan yang unik
        company_citizenship_count[company] = {
            'count': len(unique_nationalities),  # Hitung jumlah kewarganegaraan unik
            'nationalities': unique_nationalities  # Daftar kewarganegaraan unik
        }

    return company_citizenship_count

In [10]:
employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [11]:
company_to_domain = {company['name']: company['domain'] for company in company_detail_list}


domain_employee_map = {}
for employee in employee_detail_list:
    domain = company_to_domain.get(employee['company'])
    if domain not in domain_employee_map:
        domain_employee_map[domain] = []
    domain_employee_map[domain].append(employee['full_name'])


for domain, employees in domain_employee_map.items():
    print(f"Domain: {domain}")
    for employee in employees:
        print(f" - {employee}")

Domain: Retail
 - John Doe
 - Ying Han Tan
 - Robert White
Domain: Technology
 - Tom Smith
 - Rubby Lee
Domain: Healthcare
 - Andrew Sebastian
 - Kenneth Ng

In [12]:
# Memanggil fungsi dan mencetak hasilnya
employees_with_country = get_employees_with_company_country(employee_detail_list, company_detail_list)

# Menampilkan hasil secara vertikal
for item in employees_with_country:
    print(f"Full Name: {item['full_name']}")
    print(f"Company: {item['company']}")
    print(f"Country: {item['country']}")
    print()  # Menambahkan baris kosong untuk pemisah antar karyawan

Full Name: John Doe
Company: Company 1
Country: United States

Full Name: Tom Smith
Company: Company 2
Country: United Kingdom

Full Name: Andrew Sebastian
Company: Company 3
Country: United States

Full Name: Ying Han Tan
Company: Company 1
Country: United States

Full Name: Kenneth Ng
Company: Company 3
Country: United States

Full Name: Rubby Lee
Company: Company 2
Country: United Kingdom

Full Name: Robert White
Company: Company 1
Country: United States

In [13]:
company_citizenship_count = get_company_citizenship_count(employee_detail_list, company_detail_list)

# Menampilkan hasil secara vertikal
for company, data in company_citizenship_count.items():
    print(f"Company: {company}")
    print(f"Unique Citizenship Count: {data['count']}")
    print(f"Nationalities: {', '.join(data['nationalities'])}")  # Menampilkan kewarganegaraan unik
    print()  # Menambahkan baris kosong untuk pemisah antar perusahaan

Company: Company 1
Unique Citizenship Count: 2
Nationalities: Australia, United Kingdom

Company: Company 2
Unique Citizenship Count: 2
Nationalities: Hong Kong, United States

Company: Company 3
Unique Citizenship Count: 1
Nationalities: United States